@using Wkkim.Blog.Web.Models.Domain
@model IEnumerable<BlogPost>

<div class="row justify-content-center">
    @foreach (var blogPost in Model)
    {
        @if (!blogPost.Visible)
        {
            continue;
        }
        <div class="col-sm-12 col-lg-6">
            <div class="card mb-2 border-dark px-1" style="height:450;background-color:rgba(55, 149, 189,0.1);">
                <div class="border-dark m-1" style="width:70%;align-self: center; border: 1px solid rgba(0,0,0,.125);">
                    <img src="@blogPost.FeaturedImageUrl" alt="@blogPost.Heading" class="card-img-top" style="width:100%; height:200px; align-self:center;" />
                    </div>

                @if (blogPost.Heading.Length > 30)
                {
                    <h3 class="card-title">@blogPost.Heading.Substring(0, 30)...</h3>
                }
                else if (blogPost.Heading.Length >= 24)
                {
                    <h3 class="card-title">@blogPost.Heading</h3>
                }
                else
                {
                    <h2 class="card-title">@blogPost.Heading</h2>
                }

                <div class="card-body">
                    <div>
                        Published Date : @blogPost.PublishedDate.ToShortDateString()
                    </div>

                    <div>
                        @foreach (var tag in blogPost.Tags)
                        {
                            <span class="badge bg-secondary m-1">@tag.Name</span>
                        }
                    </div>

                    <p class="card-text">@blogPost.ShortDescription</p>

                    <a class="btn btn-dark"
                       asp-area=""
                       asp-controller="Blogs"
                       asp-action="Index"
                       asp-route-urlHandle="@blogPost.UrlHandle">Read More</a>
                </div>
            </div>
            </div>
    }
</div>